/* GLOBAL STYLES */
html {
  background-color: #0d1116;
  color: #fff;
  font-family: "Noto Serif", serif, sans-serif;
}
footer {
  margin-top: 10px;
}

a {
  color: #fff;
  background-color: #ca232f;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

/* about.html */
img {
  height: 200px;
  width: 200px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #1f1e25;
  border: 1px solid #ffffffa6;
  border-radius: 5px;
  padding: 5px;
  max-width: 300px;
}

.card p {
  text-align: center;
}

.personal-growth img {
  height: 250px;
  width: 200px;
}

/* Index.html */
.project-item {
  width: 300px;
  height: 300px;
  padding: 5px;
  margin: 5px;
}

.welcome-text {
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 200px 200px;
  gap: 20px;
  border: 1px solid #5c6115;
  border-radius: 5px;
  background-color: #292b2f;
  margin-top: 10px;
  margin-bottom: 5px;
}

.project-item img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movie-rank-project p,
#birthday-invite-project p,
#css-flag-project p {
  border: 1px solid #60a5fa;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}

/* Media Queries*/
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 25px;
  }

  .project-item > p {
    margin: 0;
  }

  .project-item > img {
    height: 275px;
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 25px;
  }

  .project-item > p {
    margin: 0;
  }

  .project-item > img {
    height: 275px;
  }
}
