/* -----GLOBAL STYLES----- */

html {
  font-family: "futura", "Noto Serif", serif, sans-serif;
}

a:active,
.grid-item a:active {
  box-shadow: 2px 2px 5px #b6fc4d;
}

a:visited {
  background-color: #563f40;
  color: #ffffff;
  text-decoration: none;
}

* {
  padding: 0px;
  margin: 0px;
}

p {
  padding: 1rem;
}

.footer-container {
  display: block;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding: 50px 0px 10px 0px;
  background: #0b2737;
  text-align: center;
}

.footer-container > a {
  text-decoration: none;
  color: #8a8a8a;
}

a {
  border-radius: 55px;
  padding: 5px;
}

.copyright {
  display: block;
  font-size: 12px;
  color: #fff;
}

hr {
  margin-top: 15px;
}

/* ----index.html----- */

.main-content-container {
  min-height: 100vh;
}

.title-content-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  align-items: start;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sub-title-text {
  font-size: 14px;
  font-style: italic;
  color: #8a8a8a;
}

.welcome-text {
  margin-top: 10px;
  font-weight: 200;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  justify-content: space-evenly;
}

.grid-item {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* background-color: #e5e5e5; */
  border-radius: 5px;
}

.grid-item a {
  color: #fff;
  background-color: #0b2737;
  padding: 5px;
  text-decoration: none;
}

a:focus,
a:hover {
  background: #fff;
  color: #8a8a8a;
  text-decoration: underline;
  border: solid 1px #8a8a8a;
  font-size: large;
}

.grid-item a:focus,
a:hover {
  background: #fff;
}

.grid-item img {
  width: 300px;
  height: 300px;
  opacity: 0.8;
}

.grid-item p {
  text-align: center;
}

#pricing-table-project img {
  width: 300px;
  height: 150px;
}

#portfolio-profile-img {
  border-radius: 500px;
  margin-top: 10px;
}

#about-me {
  margin: 2px 0px 1px 0px;
}

/* -----about.html----- */
img {
  height: 200px;
  width: 200px;
}

.about-me-main-content-container {
  min-height: 100vh;
  padding: 10px;
  margin: 0px 200px 100px 200px;
  justify-content: center;
}

.about-me-main-content-container > p {
  display: inline-flex;
  text-align: center;
  margin-top: 10px;
  /* width: 50%; */
}

.card-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 10px;
  justify-content: center;
}

#about-h2 {
  text-align: center;
  font-weight: 200;
  font-style: italic;
}

#grateful-text {
  align-self: center;
  margin-top: 10px;
}

.card {
  /* background-color: #1f1e25; */
  border: 1px solid #ffffffa6;
  border-radius: 5px;
  padding: 5px;
  flex-basis: 200px;
}

.card p {
  text-align: center;
}

.personal-growth img {
  height: 250px;
  width: 200px;
}

#about-me-header {
  text-align: center;
  margin-top: 10px;
}

/* -----Media Queries----- */
@media (max-width: 1660px) {
  .grid-item > p {
    margin: 0;
  }
  */ .grid-item > img {
    height: 275px;
  }
}

@media (max-width: 700px) {
  .grid-item > p {
    margin: 0;
  }

  .grid-item > img {
    height: 275px;
  }
}
